body {
  background-color: #ffffff;
}

header {
  background: linear-gradient(to bottom, #368dfc, #9cf);
  padding: 10px 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.right a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold; /* lien en gras */
}

.bandeau .home img {
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}
.bandeau .connexion img,
.bandeau .avis img,
.bandeau .partenaire img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

p em {
  color: #555;
  line-height: 1.6;
  position: absolute;
  bottom: 10px; /* Espace depuis le bas de la page */
  right: 10px;
}

.lien {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amazon a,
.KFC a,
.temu a {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center; 
  width: 100 px; 
}

.amazon img,
.KFC img,
.temu img {
  margin-left: 60px;
  margin-right: 10px;
  width: 80%; /* L'image prend toute la largeur de l'élément */
  height: auto; /* Maintient les proportions de l'image */
  margin-bottom: 5px; /* Espacement entre l'image et le texte */
  border-radius: 5px;
}

.amazon p,
.KFC p,
.temu p {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-weight: bold;
}

.amazon h1,
.KFC h1,
.temu h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

.hamburger-menu {
  margin-top: 90 px;
  margin-bottom: 50 px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: #d3d3d3;
  padding: 5px;
  border-radius: 5px;
}

.hamburger-menu .line {
  width: 100%;
  height: 5px;
  background-color: #555;
  border-radius: 2px;
}
